.welcome {font-family: Georgia, 'Times New Roman', Times, serif;
   color: #3b73e4 ; 
   font-size: larger;
}
h2 {font-family: Georgia, 'Times New Roman', Times, serif;
    color: black ; 
    font-size: larger;}

h1 {font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: xx-large;
}
h3 {
    font-variant: small-caps;
}
h4 {
    font-style: italic;
}
a:hover {
    color: black;
    background-color: #e6eeff;
}
a:visited {
    color: #4d88ff;
}


footer {
    background-color: #e6eeff; font-family: Georgia, 'Times New Roman', Times, serif; padding: 5px; text-align: center;
}

nav {text-align: center; padding: 10px
}

/* image css */
.tiktok1 {float: left; padding: 20px }
.tiktok2 {float: right; padding: 20px }
.tiktok3 {float: left; padding: 20px }
.biophoto {float: left; padding: 20px }
.gucciad {float: left; padding: 20px }
.squishig {float: right; padding: 20px }
.igprofile { padding: 20px}




.nameandwelcome {text-align: center;}

.firstrow {flex-wrap: flex; border: 1px solid black; padding: 10px; margin: 10px }

.secondrow {flex-wrap: flex; border: 1px solid black; padding: 10px; margin: 10px }

.thirdrow {flex-wrap: flex; border: 1px solid black; padding: 10px; margin: 10px }

.fourthrow {flex-wrap: flex; border: 1px solid black; padding: 10px; margin: 10px }

@media only screen and (max-width: 600px) {
    nav a {max-width: 100%; display: block; }
        nav span {display: none;}
}